.hero {
  width: 100%;
  min-height: 85vh;
  padding: 60px 20px;
  background-color: #f5eee3;

  background-image: url("../images/fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  position: relative;
}

/* camada para deixar o fundo claro */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
}

.hero-content {
  position: relative;
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
  z-index: 2;
}

.hero h1 {
  font-size: 48px;
  color: #e3743d;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero p {
  font-size: 18px;
  color: #5a4631;
  margin-bottom: 40px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 14px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;

  transition: 0.2s ease-in-out;
}

.btn img {
  height: 18px;
}

.btn-primary {
  background-color: #e3743d;
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  border: 1px solid #d4c8b9;
  color: #5a4631;
}